name: Deploy Docs

on:
  release:
    types: [published]
  workflow_dispatch:

permissions:
  contents: write

jobs:
  docs:
    if: startsWith(github.ref, 'refs/tags/v') || github.event_name == 'workflow_dispatch'
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1

      - name: Set up Go (from go.mod)
        uses: actions/setup-go@7a3fe6cf4cb3a834922a1244abfce67bcef6a0c5 # v6.2.0
        with:
          go-version-file: go.mod

      - name: Install the latest version of uv
        uses: astral-sh/setup-uv@3259c6206f993105e3a61b142c2d97bf4b9ef83d # v7.1.0
        with:
          python-version: 3.12
          activate-environment: true
      - run: uv pip install pip mkdocs mkdocs-material

      - name: Generate CLI docs
        run: make docs-cli

      - name: Generate OpenAPI docs
        run: make docs-api

      - name: Update MkDocs navigation
        run: make docs-nav

      - name: Verify docs build
        run: uv run mkdocs build --strict

      - name: Deploy to GitHub Pages
        run: uv run mkdocs gh-deploy --force
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
